# packaging
wheel
setuptools

# Formatting and linting
black 
flake8 

# testing
pytest 
coverage

# backend server
flask 
flask-cors 

# environment variables
load_dotenv 

# data transfer
pandas 
pytrends 
requests 

# Jupyter notebooks
jupyter 
jupytext 

