attrs
black
click
coverage
flake8
Flask
Flask-Cors
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
numpy
packaging
pandas
pathspec
platformdirs
pluggy
py
pyparsing
pytest
python-dateutil
pytz
six
tomli
typing_extensions
Werkzeug
zipp
requests
load_dotenv
jupyter
jupytext
pytrends
